<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd"> 
<configuration>
	
	<typeAliases>
		<typeAlias alias="userinfo" type="com.byd.bms.util.entity.BmsBaseUser"/>
		<typeAlias alias="BmsBaseBusType" type="com.byd.bms.util.entity.BmsBaseBusType"/>
		<typeAlias alias="bmsKeys" type="com.byd.bms.util.entity.BmsKeys"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="com/byd/bms/util/sqlMapper/utilMapper.xml"/>
		<mapper resource="com/byd/bms/util/sqlMapper/commonMapper.xml"/>
		<mapper resource="com/byd/bms/util/sqlMapper/loginMapper.xml"/>
	</mappers>
	

	
</configuration>