<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd"> 
<configuration>
	<typeAliases>
		<typeAlias alias="bmsecndocument" type="com.byd.bms.techtrans.entity.BmsEcnDocument"/>
		
		<typeAlias alias="ecnDoc" type="com.byd.bms.techtrans.entity.BmsEcnDocument"/>
		<typeAlias alias="ecnTask" type="com.byd.bms.techtrans.entity.BmsEcnTask"/>
	</typeAliases>
	<mappers>
		<mapper resource="com/byd/bms/techtrans/sqlMapper/ecnDocumentMapper.xml"/>
	</mappers>
</configuration>